* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--dark-blue);
  padding: var(--spacing-md);
  font-family: var(--font-family-primary), sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: var(--white);
  height: 400px;
  max-width: 800px;
  border-radius: var(--border-radius-extra-rounder);
  padding: var(--spacing-md);
  margin: 0 auto;
}

.roll-btn {
  border: none;
  height: var(--btn-height);
  width: var(--btn-width);
  border-radius: var(--border-radius-round);
  background-color: var(--purple);
  color: var(--bright-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-big);
  font-family: var(--font-family-primary), sans-serif;
  cursor: pointer;
}

.roll-btn:active {
  box-shadow: var(--active-btn-shadow);
}
