.die-face {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--die-size);
    width: var(--die-size);
    box-shadow: var(--die-shadow);
    border-radius: var(--border-radius-rounder);
    cursor: pointer;
    background-color: var(--bright-white);
}

.die-num {
    font-size: var(--font-size-bigger);
}
